@font-face {
    font-family: 'Roboto';
    src: url('../fonts/robotomono/static/RobotoMono-Regular.ttf');
}

.root {
    -fx-background-color: #232531;
    -fx-font-family: "Roboto Mono";
}

.label {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #ff5733;
    -fx-border-color: #ff5733;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-border-width: 1;
    -fx-translate-y: 320px;
}

.button:hover {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-cursor: hand;
}

.field {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-width: 275px;
    -fx-pref-height: 58px;
    -fx-translate-x: 50px;
}

.text-field {
    -fx-translate-y: 110px;
}

.password-field {
    -fx-translate-y: 230px;
}

#page_name {
    -fx-font-size: 33px;
    -fx-translate-x: 50px;
}

#log_in_button {
    -fx-translate-x: 50px;
}

#sign_up_button {
    -fx-translate-x: 210px;
}

.description {
    -fx-font-size: 20px;
    -fx-translate-x: 50px;
}

#login_description {
    -fx-translate-y: 70px;
    -fx-font-family: 'Roboto SemiBold';
}

#password_description {
    -fx-translate-y: 190px;
}

#languageChoose {
    -fx-translate-x: 640px;
    -fx-pref-width: 126px;
    -fx-background-color: #ff5733;
}
.cell {
    -fx-alignment: center;
    -fx-background-color: #232531, #333645;
    -fx-background-insets: 0, 4 0 0 0;
    -fx-text-fill: #777;
    -fx-font-size: 15px;
}

.text-area {
    -fx-background-color: #232531;
    -fx-translate-x: 143px;
    -fx-translate-y: 690px;
    -fx-pref-width: 630px;
    -fx-pref-height: 240px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-background-radius: 0px;
}

.text-area .content {
    -fx-background-color: #232531;
    -fx-background-radius: 0px;
}
